.DS_Store
*pycache*
models/*
*json
*.hmm
*.afa
*.fa
*.txt
*.sto
*.out
*.err
*.ddgm
*.domtblout
*pt
src/logs/*
src/lightning_logs/*
trained_models/*
/src/.nextflow.log
*.nextflow*
/src/work/
.idea/
.DS_Store
