*pycache*
models/*
*json
*.hmm
*.afa
*.fa
*.txt
*.sto
*.out
*.err
*.ddgm
*.domtblout
*pt
prefilter/logs/*
prefilter/lightning_logs/*
trained_models/*
/prefilter/.nextflow.log
*.nextflow*
/prefilter/work/
.idea/
