aiohttp
aiosignal
async-timeout
attrs
biopython
certifi
charset-normalizer
colorama
contourpy
cycler
docopt
docutils
fair-esm
flit
flit_core
fonttools
frozenlist
fsspec
gitdb
GitPython
idna
jsonpickle
kiwisolver
lightning-utilities
matplotlib
multidict
munch
numpy
packaging
pandas
Pillow
py-cpuinfo
pyparsing
python-dateutil
pytorch-lightning
pytz
PyYAML
requests
sacred
scipy
sequence-models
six
smmap
tensorboard
tomli_w
torch
torchaudio
torchmetrics
tqdm
typing_extensions
urllib3
wrapt
yarl
